.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url("/images/INR_Day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .home-inner {
  padding-top: 120px;
}
.cspCNR {
  text-align: center;
  color: white;
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.6);
  padding-bottom: 36px;

  font-size: 2.4em;
  line-height: 1.3em;
}
@media (max-width: 768px) {
  .cspCNR {
    font-size: 2.4em;
    line-height: 1em;
  }
  .cspCNR dt {
    display: none;
  }
}
@media (min-width: 768px) {
  .cspCNR mb {
    display: none;
  }
}
@media (max-width: 374px) {
  .cspCNR {
    font-size: 2em;
    line-height: 1.3em;
  }
}
.itjIoV {
  border: 0;
  border-bottom: 1px solid #d2e6e6;
  max-width: 1024px;
}

.gMnxOW {
  height: 48px;
}
.fPzntf {
  height: 16px;
}
.fwvxEm {
  height: 24px;
}
.dIGbVH {
  height: 40px;
}
.irPqZL {
  font-family: HelveticaNeue-Light;
  font-size: 14px;
  color: #00465a;
  line-height: 14px;
}
.gDirNL li {
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #001b22;
  line-height: 16px;
  padding: 24px 0;
  border-bottom: 1px solid #d2e6e6;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  cursor: pointer;
}
.gDirNL li div {
  color: #001b22;
  padding-right: 12px;
}
.esjrrB {
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #00c8be;
  padding: 24px 0;
  border-bottom: 1px solid #d2e6e6;
  cursor: pointer;
}
@media (min-width: 768px) {
  .cHotVz {
    max-width: 848px;
    padding: 0 32px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .cHotVz {
    padding: 0 16px;
  }
}
.dwofWV {
  font-family: HelveticaNeue;
  font-size: 24px;
  color: #001b22;
}
@media (min-width: 768px) {
  .cQTDZd {
    max-width: 848px;
    padding-top: 50px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .cQTDZd {
    padding: 0 16px;
  }
}
.fBMMTC {
  font-family: HelveticaNeue;
  font-size: 14px;
}
.fBMMTC ul {
  padding: 0;
}
.fBMMTC ul > li {
  display: inline;
  color: #bcd0d4;
}
.fBMMTC ul > li:nth-child(2) {
  margin: 0 8px 0 4px;
}
.fBMMTC ul > li span {
  text-decoration: none;
  color: #00c8be;
  cursor: pointer;
}
.bSwDEC {
  border: solid #aac3c8;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.lpdimb {
  font-family: HelveticaNeue;
  font-size: 24px;
  color: #001b22;
}
@media (max-width: 767px) {
  .lpdimb {
    font-size: 20px;
  }
}
.cuSFlJ {
  color: #001b22;
  font-family: HelveticaNeue-Light;
  font-size: 16px;
  line-height: 24px;
  white-space: pre-line;
}
