.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url("/images/INR_Day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .home-inner {
  padding-top: 120px;
}
.cspCNR {
  text-align: center;
  color: white;
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.6);
  padding-bottom: 36px;

  font-size: 2.4em;
  line-height: 1.3em;
}
@media (max-width: 768px) {
  .cspCNR {
    font-size: 2.4em;
    line-height: 1em;
  }
  .cspCNR dt {
    display: none;
  }
}
@media (min-width: 768px) {
  .cspCNR mb {
    display: none;
  }
}
@media (max-width: 374px) {
  .cspCNR {
    font-size: 2em;
    line-height: 1.3em;
  }
}
.itjIoV {
  border: 0;
  border-bottom: 1px solid #d2e6e6;
  max-width: 1024px;
}
