.NTB_components-calculator-_home_alert {
  background: #000;
  bottom: 6.7em;
  position: absolute;
  left: 50%;
  margin: 0 -140px;
  width: 240px;
  padding: 1em;
  color: #fff;
  line-height: 1.3em;
  border-radius: 3px;
}
.NTB_components-calculator-_home_alert:after {
  content: "";
  bottom: 0;
  left: 50%;
  position: absolute;
  border-top: 1em solid #000;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  margin: -1em;
}
.NTB_components-calculator-_home_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 1.2em;
  color: #00465a;
  margin: 0 0 3em;
}
.NTB_components-calculator-_home_countrySelector {
  background: hsla(0, 0%, 100%, 0.98);
  padding: 1em;
  padding-bottom: 0;
  box-sizing: border-box;
  height: 6.1em;
}
.NTB_components-calculator-_home_segment {
  background: hsla(0, 0%, 100%, 0.98);
  flex: 13 0 280px;
  height: 6.1em;
  display: flex;
  box-sizing: border-box;
  border-left: 1px solid #bedcdc;
}
.NTB_components-calculator-_home_segment > div {
  flex: 1 0 0%;
}
.NTB_components-calculator-_home_segment
  > div.NTB_components-calculator-_home_toarrow {
  position: relative;
  text-align: center;
  flex: 0 0 3em;
  width: 3em;
}
.NTB_components-calculator-_home_toarrow:before {
  content: "";
  position: absolute;
  left: 0;
  border-right: 1px solid #bedcdc;
  height: 2.5em;
  width: 50%;
}
.NTB_components-calculator-_home_toarrow:after {
  content: "";
  position: absolute;
  left: 0;
  border-right: 1px solid #bedcdc;
  bottom: 0;
  height: 0.6em;
  width: 50%;
}
.NTB_components-calculator-_home_toarrowsvg {
  z-index: 10;
  width: 1.5em;
  margin: 3.15em auto 0;
}
.NTB_components-calculator-_home_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}
.NTB_components-calculator-_home_dataInput {
  flex: 1;
  font-size: 1em;
  color: #000;
  outline: none;
  border: 0;
  text-align: center;
  margin-top: 0.2em;
}
.NTB_components-calculator-_home_dataInput::-webkit-input-placeholder {
  font-weight: 200;
  font-style: italic;
  color: #95abb3;
}
.NTB_components-calculator-_home_button {
  position: relative;
  flex: 13 0 280px;
}
.NTB_components-calculator-_home_rate {
  position: relative;
  margin: 0 auto;
  top: 1em;
  background: #fff;
  border-radius: 5em;
  text-align: center;
  padding: 0.3em 0.5em;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .NTB_components-calculator-_home_container {
    margin: 1em auto;
    max-width: 1144px;
    padding: 0 5em;
  }
  .NTB_components-calculator-_home_countrySelector {
    flex: 1 0 240px;
  }
  .NTB_components-calculator-_home_segment {
    flex: 28 0 280px;
  }
  .NTB_components-calculator-_home_button {
    flex: 12 0 120px;
  }
}
@media screen and (max-width: 767px) {
  .NTB_components-calculator-_home_container {
    margin: 1em auto;
    font-size: 1em;
    max-width: 688px;
    width: calc(100vw - 40px);
    padding: 0;
  }
  .NTB_components-calculator-_home_countrySelector {
    flex: 1 0 400px;
  }
  .NTB_components-calculator-_home_segment {
    border-top: 1px solid #bedcdc;
    border-left: none;
    flex: 28 1 500px;
  }
  .NTB_components-calculator-_home_button {
    flex: 12 1 400px;
  }
}

.NTB_components-Dropdown-_index_dropdown {
  cursor: default;
  position: relative;
  user-select: none;
  width: 100%;
}
.NTB_components-Dropdown-_index_dropdown label {
  padding: 0 0.3em;
  font-weight: 200;
  font-size: 1em;
}
.NTB_components-Dropdown-_index_dropdown input:focus ~ div label {
  color: #00c8be;
}
.NTB_components-Dropdown-_index_dropdown input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}
.NTB_components-Dropdown-_index_dropdown
  input.NTB_components-Dropdown-_index_editable {
  z-index: 10;
  height: 1.5em;
  line-height: 1.5em;
  width: calc(100% - 4em);
  font-size: 18px;
  left: 15px;
  bottom: 10px;
}
.NTB_components-Dropdown-_index_dropdown
  input.NTB_components-Dropdown-_index_hascontent,
.NTB_components-Dropdown-_index_dropdown input:focus {
  background: #fff;
}

.NTB_components-Dropdown-_option-element_dropdown-option-element {
  flex: 1 0 auto;
  padding: 0;
  align-self: center;
}
