.iPrCWj {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-lines: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;

  flex-wrap: wrap;

  -webkit-box-lines: multiple;

  -ms-flex-wrap: wrap;

  -webkit-flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  max-width: 752px;
}
.bByPZO {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-lines: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;

  justify-content: space-between;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  -webkit-justify-content: space-between;
}
.ghjSCk {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-lines: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
}

.hzzxuo div {
  font-weight: 400;
  font-size: 0.9em;
  color: #00465a;
  padding-bottom: 8px;
}
.hzzxuo ul {
  list-style-type: none;
  padding: 0;
}
.hzzxuo li {
  padding-top: 9px;
  max-width: 170px;
}
.hzzxuo a {
  text-decoration: none;
  color: #6d9aa9;
  font-weight: 200;
  font-size: 0.9em;
}
@media (max-width: 767px) {
  .hzzxuo a {
    font-weight: 200;
    color: #697e85;
  }
}
